# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python
*.egg-info/
dist/
build/

# Virtual environment
.venv/
venv/
ENV/

# Pipenv
.venv

# Django
*.log
local_settings.py
db.sqlite3
media/

# Environment variables
.env
.env.*

# macOS
.DS_Store
.AppleDouble
.LSOverride

# VS Code
.vscode/

# Node (for frontend)
node_modules/
dist/
.env.local
.env.production

# Coverage
.coverage
htmlcov/
